.projectsContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1rem;
}

.project {
  padding: 0.5rem;
  border: 1px solid rgb(54, 54, 54);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.imgWrapper,
.projectContent {
  width: 100%;
}

.projectContent {
  display: flex;
  flex-direction: column;
  height: 100%; /* ensures it fills the card */
}

.heading2 {
  text-align: center;
}

.heading2 h1 {
  margin-top: 40px;
  font-size: 0.9rem;
}

.heading2 p {
  margin: auto;
  color: rgb(211, 211, 211);
  font-size: 0.55rem;
  max-width: 800px;
}

.imgWrapper img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px 10px 0 0;
}

.imgWrapper {
  height: max-content !;
}

.projectContent h2 {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

.projectContent p {
  font-size: 0.45rem;
  width: 100%;
  color: rgb(199, 199, 199);
  margin-bottom: 0.7rem;
}

.tools {
  display: flex;
  gap: 0.2rem;
  flex-wrap: wrap;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  min-height: 50px;
}

.tools li {
  list-style: none;
  font-size: 0.36rem;
  width: max-content;
  padding: 0.15rem 0.45rem;
  border-radius: 20px;
  background-color: rgba(69, 135, 192, 0.12);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  height: max-content;
}

.tools li span {
  color: rgb(78, 147, 207);
  font-weight: 500;
  letter-spacing: 0.3px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 0.5rem;
}

.button {
  color: black;
  background-color: rgb(146, 203, 253);
  text-decoration: none;
  font-size: 0.43rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: max-content;
}

.button:hover {
  background-color: rgb(112, 188, 255);
}

.button img {
  height: 0.4rem;
  margin-left: 0.2rem;
}

.button2 {
  color: rgb(230, 230, 230);
  background-color: rgb(61, 61, 61);
  text-decoration: none;
  font-size: 0.43rem;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: max-content;
}

.button2:hover {
  background-color: rgb(85, 85, 85);
}

.button2 img {
  height: 0.4rem;
  margin-left: 0.2rem;
}

/* --- Responsive --- */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .projectsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .projectsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
