/* Projects Section */
#Projects {
  height: max-content;
  background-color: black;
  padding: 80px 0 40px 0;
  margin-bottom: 20px;
}
.projects-container {
  display: block;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}

/* Heading Section */
#Projects .projects-container .heading {
  width: 70%;
}
#Projects .heading h1 {
  color: white;
}
#Projects .projects-container .heading h1 {
  text-align: center;
  width: 100%;
  text-align: left;
}
#Projects .heading p {
  width: 100%;
  color: rgb(208, 216, 216);
}

/* Projects Section */
.project {
  height: max-content;
}

/* Project Container Section */
.project-cont .project-wrapper {
  height: max-content;
  display: flex;
  margin: 60px 0;
  border-top: 1px solid rgb(129, 129, 129);
  padding-top: 40px;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

/* Project Gif Section */
.project-cont .img {
  width: 50%;
}
.project-cont img {
  width: 100%;
  height: 290px;
}

/* Project Content Section */
.project .project-content {
  color: white;
  width: 45%;
}
.project .project-content h1 {
  margin-top: 20px;
  color: #ffa500;
}
.project .project-content p {
  margin-top: 15px;
  color: #d3d3d3;
  line-height: 1.4;
}
.project .socials-container {
  display: flex;
}

/* Project Meadi Link Section */
.project .socials-container .socials {
  background-color: white;
  width: max-content;
  border-radius: 50% 70%;
  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
}
.project .socials-container .socials img {
  width: 30px;
  height: 30px;
}

.tools {
  margin-top: 15px;
}
.tools ul {
  list-style: none;
  display: flex;
  height: max-content;
  width: 100%;
  flex-wrap: wrap;
}
.tools ul li {
  border: 1px solid rgb(141, 140, 140);
  padding: 5px;
  margin: 0 10px 5px 0;
  border-radius: 10px;
  background-color: rgba(255, 140, 0, 0.096); /* Slight orange background */
  font-weight: bold;
}
.tools ul li:hover {
  transform: scale(1.01);
}
.project-cont:hover {
  transform: scale(1.02);
}

/**********************
* large desktop layout*
**********************/
@media only screen and (min-width: 1540px) {
  /* Project Meadi Link Section */
  .project .socials-container .socials {
    margin-top: 0px;
  }
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px) {
  /* Heading Section */
  #Projects .projects-container .heading {
    width: 100%;
  }
  #Projects h1 {
    font-size: 30px;
  }

  /* Project Section */
  .project {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Project Wrapper Section */
  .project-cont .project-wrapper {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 60px 0 0 0;
  }

  /* Project content Section */
  .project-cont .img {
    width: 100%;
  }
  .project-cont img {
    height: 250px;
  }
  .project .project-content {
    width: 100%;
  }
  .project .socials-container {
    display: flex;
    margin-bottom: 20px;
  }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px) {
  /* Heading Section */
  #Projects .projects-container .heading {
    width: 100%;
  }
  #Projects h1 {
    font-size: 28px;
  }

  /* Project Wrapper Section */
  .project-cont .project-wrapper {
    display: block;
    width: 100%;
    margin: 20px 0 0 0;
  }

  /* Project content Section */
  .project-cont .img {
    width: 100%;
  }
  .project-cont img {
    height: 180px;
  }
  .project .project-content {
    width: 100%;
  }
  .project .socials-container {
    display: flex;
    margin-bottom: 20px;
  }
  .project .project-content p {
    font-size: 14px;
  }
  .project .socials-container .socials img {
    width: 25px;
    height: 25px;
  }
}
