.about {
  margin: 3rem 0;
}

/* Headig Section */
.heading2 {
  text-align: center;
}

.heading2 h1 {
  margin-top: 40px;
  font-size: 1rem;
  margin-bottom: 15px;
}

.heading2 p {
  margin: auto;
  color: rgb(211, 211, 211);
  font-size: 0.6rem;
  max-width: 800px;
}

.content {
  display: flex;
  line-height: 0.6rem;
  justify-content: space-around;
  margin: 2rem 0;
  color: rgb(211, 211, 211);
}

.column1,
.column2 {
  width: 47%;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  height: 1.8rem;
  border-radius: 25%;
}

.profile span {
  display: flex;
  align-items: center;
  font-size: 0.6rem;
}

.locationIcon {
  height: 0.55rem !important;
  width: max-content !important;
  margin-left: 10px;
}

.column1 p {
  font-size: 0.5rem;
  margin-top: 0.5rem;
  max-width: 500px;
}

.timelineItem:before {
  flex: 0 !important;
  padding: 0 !important;
}

.timelineDot {
  background-color: rgb(146, 203, 253) !important;
  margin-top: 17px !important;
}

.heading {
  font-weight: bold !important;
  color: rgb(146, 203, 253) !important;
  font-size: 0.65rem !important;
}

.subHeading {
  font-size: 15px !important;
  color: rgb(255, 255, 255) !important;
  font-size: 0.5rem !important;
}

.body {
  font-size: 0.45rem !important;
  color: rgb(236, 236, 236) !important;
}

.dotWrapper {
  margin-top: 6px !important;
}

.dotWrapper ul {
  padding-left: 16px !important;
  margin: 0 !important;
}

.h {
  text-decoration: underline;
  text-decoration-color: rgb(146, 203, 253);
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
}

/* Socials Section */
.socialsContainer {
  display: flex;
  gap: 1.1rem;
  margin-top: 1rem;
  width: max-content;
}

.socials {
  display: flex;
  align-items: center;
}

.socials svg {
  width: 0.9rem;
  height: 0.9rem;
  transition: transform 0.3s ease;
}

.socials svg:hover {
  rotate: 10deg;
  color: rgb(112, 188, 255);
}

.button {
  color: black;
  background-color: rgb(146, 203, 253);
  text-decoration: none;
  font-size: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  margin-top: 0.8rem !important;
  display: flex;
  align-items: center;
  width: max-content;
}

.button:hover {
  background-color: rgb(112, 188, 255);
}

.button .icon {
  height: 0.6rem !important;
  margin-left: 10px;
}

/**********************
* Tablet layout *
**********************/
@media only screen and (max-width: 960px) {
  .content {
    display: block;
  }

  .column1,
  .column2 {
    width: 100%;
  }

  .column2 {
    margin-top: 2rem;
  }

  .column1 p {
    max-width: 700px;
  }
}
