/* About Section */
#About {
  width: 100%;
  height: max-content;
  padding: 10px 0 120px 0;
  background-color: black;
}

/* TopNav Section */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.top-nav img {
  height: 70px;
}
.top-nav img:hover {
  height: 65px;
}

/* Bar Section */
#About .text {
  width: 48%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}
.intro {
  text-align: left;
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.text .intro h6 {
  font-size: 18px;
}
#About .o {
  color: rgb(255, 175, 54);
}

/* Button Section */
#About .button-container {
  display: flex;
  width: 100%;
  max-width: 500px;
  margin: auto;
  justify-content: flex-start;
}
#About button {
  height: 35px;
}
#About .button-container button {
  width: 120px;
  margin: 20px 20px 20px 0;
  border: none;
}
#About .btn1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  gap: 5px;
  font-size: 17px;
  border-radius: 10px;
  background-color: rgb(255, 175, 54);
}
#About .btn1 span {
  height: 20px;
}
#About .btn2 {
  font-size: 17px;
  background-color: transparent;
  border: none;
  display: inline-block;
}
#About .btn2 a {
  color: white;
  text-decoration: underline;
}

/* About-Text Section */
.atc {
  width: 100%;
  max-width: 500px;
  margin: auto;
  text-align: left;
}
#About .text h3 {
  margin: 40px 0 10px 0px;
  display: inline-block;
  color: rgb(255, 175, 54);
  font-size: 2rem;
  font-weight: bold;
}
#About .p {
  display: flex;
  justify-content: center;
  align-items: center;
}
#About .text p {
  font-size: 17px;
  min-width: 470px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 100;
}

/* Socials Section */
#About .socials {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
}

#About .socials div {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
}

#About .socials div:hover {
  transform: scale(2.5);
  box-shadow: 0px 0px 20px rgb(255, 175, 54);
  border-radius: 50%;
}
#About .socials div {
  background-color: white;
  border-radius: 45%;
  width: 33px;
  height: 33px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

#About .socials div {
  animation: floating 2s infinite ease-in-out;
}
#About .socials div img {
  margin: 0;
  padding: 0;
  height: 28px;
  width: 28px;
}

#About a {
  text-decoration: none;
}

/**********************
* large desktop layout*
**********************/
@media only screen and (min-width: 1540px) {
  /* About Section */
  #About {
    padding-bottom: 180px;
  }
  .text .intro {
    margin-top: 100px;
  }
  .text .intro h6 {
    font-size: 20px;
  }

  /* Button Section */
  .button-container {
    margin-top: 30px;
  }

  /* Socials Section */
  .atc {
    margin-top: 20px;
  }
  .socials-container {
    margin-top: 30px;
  }
  #About .socials div:hover {
    transform: scale(2);
  }
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px) {
  /* About Section */
  #About {
    height: max-content;
  }
  #About .text {
    display: block;
    width: 100%;
    margin-top: 140px;
    height: max-content;
    text-align: center;
  }

  /* Top-Nav Section */
  .top-nav img {
    height: 50px;
  }
  .top-nav img:hover {
    height: 55px;
  }
  .top-nav .btn1 {
    display: none !important;
  }

  .text .intro {
    text-align: center;
  }
  .text .intro {
    margin-top: 60px;
  }
  .text .intro h6 {
    font-size: 18px;
  }

  /* Button Section */
  #About .button-container {
    align-items: center;
    justify-content: center;
  }
  #About .btn1 span {
    height: 17px;
  }

  /* About Section */
  #About .text h3 {
    width: 100%;
    font-size: 25px;
  }
  #About .text p {
    max-width: 500px;
    margin: auto;
    font-size: 16px;
  }
  /* About Section */
  .atc {
    text-align: center;
  }

  /* Socials Section */
  #About .socials div {
    margin: 10px 35px;
  }
  #About .socials {
    margin-left: 0;
  }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px) {
  /* About Section */
  #About {
    height: max-content;
    padding-top: 0;
  }
  #About .text {
    display: block;
    width: 100%;
    margin-top: 150px;
    height: max-content;
    text-align: center;
  }

  /* Top-Nav Section */
  .top-nav img {
    height: 40px;
  }
  .top-nav img:hover {
    height: 45px;
  }
  .text .intro {
    text-align: center;
  }
  .text .intro {
    margin-top: 90px;
  }
  .text .intro h2 {
    font-size: 35px;
  }
  .text .intro h6 {
    font-size: 15px;
  }

  /* Button Section */
  #About .button-container {
    align-items: center;
    justify-content: center;
  }
  #About .btn1 span {
    height: 17px;
  }
  .top-nav .btn1 {
    display: none !important;
  }

  /* About Section */
  .atc {
    height: max-content;
    width: 100%;
    text-align: center;
  }
  #About .text h3 {
    width: 90%;
    font-size: 22px;
    max-height: 70px;
    text-align: left;
    left: 10;
  }
  #About .text .p {
    width: 100%;
  }
  #About .text p {
    font-size: 14px;
    padding-top: 10px;
    width: 100%;
    min-width: 0px;
  }

  /* Socials Section */
  #About .socials div {
    margin: 10px 20px;
  }
}
