/* Experience Section Styles */
#About {
  padding: 40px 0 100px 0;
  background-color: white;
  height: max-content;
}
.xp-container {
  width: 100%;
}

/* Heading Section */
.heading h1 {
  color: black;
}
.heading p {
  margin: auto;
  color: rgb(114, 114, 114);
}
.xp-container .heading {
  text-align: left;
  padding: 20px;
}
.skills .heading {
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

/* experince container Section */
.xp-content {
  display: block;
  width: 90%;
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 20px;
  border-radius: 20px;
}

/* Profile Section */
.text-cont {
  margin-top: 50px;
  width: 25%;
  height: 400px;
  border-right: 1px solid rgb(202, 202, 202);
  padding: 20px;
  margin-left: 100px;
  margin-right: 20px;
}
.text-cont .profile {
  display: flex;
  align-items: center;
}
.text-cont .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(255, 128, 0);
}
.text-cont .profile span {
  color: rgb(82, 82, 82);
  display: flex;
}
.text-cont .profile .img-cont {
  width: max-content;
  background-color: antiquewhite;
}
.text-cont .text h4 {
  color: rgb(71, 71, 71);
}
.text-cont .text hr {
  border-color: rgb(255, 255, 255);
}
.text-cont .text {
  color: rgb(83, 83, 83);
  margin-top: 20px;
}
.text-cont .socials {
  display: flex;
  margin-top: 20px;
}
.text-cont .socials img {
  width: 27px;
  margin-right: 20px;
}
.text-cont .socials img:hover {
  box-shadow: 0 0 5px #ff5722; /* Subtle orange glow */
}
.text-cont .button-cont {
  margin-top: 20px;
}
.text-cont .button-cont button {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px;
  border: none;
  background-color: rgb(218, 218, 218);
  color: rgb(60, 60, 60);
}
.text-cont .button-cont button:hover {
  box-shadow: 0 0 5px #ff5722; /* Subtle orange glow */
  padding: 6px;
}
.text-cont .button-cont button span {
  margin-top: 8px;
}

.timeline-wrapper {
  width: 60%;
}

.slide-in {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Timeline Sliding animation */
.slide-out {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Timeline Wrapper  */
.timeline-wrapper {
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}
.timeline-wrapper .timeline {
  padding: 20px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  min-height: 460px;
  width: 90%;
}
.timeline-wrapper hr {
  margin-top: 20px;
  border: 1px solid rgb(230, 230, 230);
}

/* Timeline View Section */
.view {
  margin: 30px 0;
  min-height: 200px;
}

/* Skills Section */
.skills {
  border-radius: 10px;
  color: white;
  height: max-content;
  display: block;
  justify-content: space-between;
  margin-top: 30px;
  width: 80%;
  margin: auto;
}

/* Skill container Section */
.skill {
  border-radius: 10px;
  height: max-content;
  display: inline-block;
  margin: 11px;
  width: 300px;
  background-color: rgb(238, 241, 241);
  text-align: left;
}
.skill:hover {
  background-color: rgb(230, 229, 229);
}
.skill .skill-text {
  width: 60%;
  height: 100%;
  display: inline-block;
  color: black;
}
.skills .img {
  width: max-content;
  color: black;
  display: inline-block;
  margin: 10px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: relative;
}
.skills span .text {
  width: max-content;
  position: relative;
  margin: auto;
}
.skills img {
  width: 40px;
  padding-right: 8px;
  transition: transform 0.5s ease-in-out;
  display: inline-block;
  opacity: 0.8;
}
.skills .text {
  display: block;
  padding: 3px;
  color: rgba(66, 66, 66, 0.849);
}
.skills .text:first-child {
  font-size: 18px;
  color: black;
}
.skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.skill-container .i {
  width: 968px;
  max-width: 1000px;
}

/* Exprerience content */
.dot-wrapper {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  gap: 5px;
  color: black;
  margin-top: 8px;
}

/* Selected chip: Apply orange border */
.selected-chip {
  border: 1px solid #ff562298 !important; /* Orange border */
  box-shadow: 0 0 5px #ff5722; /* Subtle orange glow */
  transition: box-shadow 0.3s ease-in-out;
}
/* Unselected chip: Normal border */
.unselected-chip {
  border: none; /* Light gray border */
  background-color: transparent;
}
/* Unselected chip (using outlined variant) */
.unselected-chip.MuiChip-outlined {
  background-color: transparent !important; /* Transparent background */
  color: black; /* Black text color */
  border: 2px solid transparent; /* Remove border by setting it transparent */
}

/* ===========================
     Responsive Design 
     =========================== */
@media only screen and (min-width: 1540px) {
  /* Exprerience container */
  .xp-container {
    padding-bottom: 80px;
  }
  .xp-content {
    min-height: 420px;
  }

  /* Skills Section */
  .skills .heading h1 {
    padding-top: 0px;
  }
  .skill {
    margin: 11px;
    width: 300px;
  }
  .skills .skill-text {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 1300px) {
  /* Exprerience container */
  .xp-container .heading {
    width: 90%;
  }
  .xp-container {
    height: max-content;
    display: block;
    width: 100%;
  }

  /* experience and skills container */
  .experince,
  .skills {
    width: 90%;
    height: max-content;
    display: block;
    margin: auto;
  }

  /* Profile Section */
  .text-cont {
    margin: 0 30px 0 0;
    width: 100%;
    max-width: 480px;
    height: max-content;
    padding: 20px;
    margin: auto;
    border: none;
  }

  /* XP-content container */
  .image-cont,
  .timeline-wrapper {
    width: 80%;
    margin: auto;
  }
  .timeline-wrapper .timeline {
    height: max-content;
    min-height: 0px;
    padding: 10px;
  }

  /* XP-content Section */
  .xp-content {
    flex-direction: column;
    display: block;
    width: 100%;
  }

  /* Heading Section */
  .heading p {
    font-size: 18px;
  }

  /* Skills Section */
  .skills {
    max-width: 650px;
  }
  .skills .heading h1 {
    padding-top: 50px;
  }
  .skills span {
    font-size: 16px;
  }
  .skills img {
    width: 35px;
  }
  .skill {
    margin: 11px;
    width: 300px;
    align-self: center;
  }
  .skills .skill-text {
    margin-top: 5px;
  }
  .skill-container .i {
    max-width: 646px;
    width: 100%;
  }

  /* Skills Content Section */
  .timeline-wrapper {
    min-height: 400px;
    width: 80%;
    padding: 25px 0;
  }
}

@media only screen and (max-width: 576px) {
  /* Exprerience container */
  .xp-container {
    height: max-content;
    display: block;
    width: 100%;
  }

  /* Exprerience content */
  .xp-content {
    flex-direction: column;
    display: block;
    width: 100%;
  }
  .image-cont,
  .timeline-wrapper {
    width: 100%;
  }

  /* Profile Section */
  .text-cont {
    margin: 0 30px 0 0;
    width: 97%;
    height: max-content;
    padding: 2%;
    border: none;
  }

  /* Section content */
  .experince,
  .skills {
    width: 90%;
    padding: 10px;
    height: max-content;
    display: block;
    margin: auto;
  }

  /* Timeline Section */
  .timeline-wrapper .timeline {
    height: max-content;
    min-height: 0px;
    margin: auto;
    padding: 1px;
  }

  /* Skills Section */
  .skills span {
    font-size: 14px;
    width: 50%;
  }
  .skills span .text {
    width: max-content;
    font-size: 12px;
    margin: auto;
  }
  .skills img {
    width: 30px;
    margin-bottom: 5px;
  }
  .heading p {
    font-size: 15px;
    width: 100%;
  }
  .skill {
    margin: 10px;
    width: 260px;
    height: 60px;
  }
  .skills .skill-text {
    margin-top: 6px;
  }
  .skills .skill-text span {
    width: 100%;
  }
  .skill-container .i {
    max-width: 280px;
    width: 100%;
  }

  /* Timeline Content Section */
  .timeline-wrapper {
    min-height: 200px;
    margin: 25px 0;
    width: 100%;
  }
}
