/* About Section */
.Home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  padding: 0 !important;
}

/* About Container */
.HomeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 80px;
}

.column1,
.column2 {
  width: 48%;
}

.column1 {
  display: flex;
  flex-direction: column;
}

.openToWork {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 20px;
  border: 2px solid #48a74b;
  background-color: rgba(76, 175, 80, 0.1); /* subtle green tint */
  font-size: 14px;
  font-weight: 500;
  color: #48a74b; /* green text */
  margin: auto;
  margin-bottom: 0.7rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4caf50; /* green dot */
}

/* Intro Section */
.text {
  text-align: center;
}

.text h1 {
  font-size: 1rem;
}

.column1 .e {
  color: rgb(146, 203, 253);
  font-size: 1.3rem;
}

.intro {
  margin: auto;
  font-size: 0.54rem;
  line-height: 0.75rem;
  max-width: 550px;
  margin-top: 0.7rem;
  font-weight: 200;
  color: rgb(218, 218, 218);
}

.butnHolder {
  display: flex;
  gap: 1rem;
}

.button {
  color: black;
  background-color: rgb(146, 203, 253);
  text-decoration: none;
  font-size: 0.47rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  margin-top: 1rem !important;
  display: flex;
  align-items: center;
  width: max-content;
  border: 1px solid transparent;
}

.button:last-child {
  background-color: transparent;
  color: white;
}

.button:hover {
  background-color: rgb(112, 188, 255);
}

.button:last-child:hover {
  border: 1px solid white;
  background-color: transparent;
}

.button .icon {
  height: 0.6rem !important;
}

/* Socials Section */
.socialsContainer {
  display: flex;
  margin: auto;
  gap: 1.1rem;
  margin-top: 1.4rem;
  width: max-content;
}

.socials {
  display: flex;
  align-items: center;
}

.socials svg {
  width: 1.2rem;
  height: 1.2rem;
  transition: transform 0.3s ease;
}

.socials svg:hover {
  rotate: 10deg;
  color: rgb(112, 188, 255);
}

.location {
  display: flex;
  align-items: center !important;
  gap: 5px;
  margin-bottom: 1rem;
}

.location .icon {
  color: rgb(228, 228, 228);
  align-items: center;
  justify-content: center;
  height: 27px;
  font-size: 27px !important;
}

.location .hook {
  font-size: 0.5rem;
  font-style: italic;
  color: rgb(228, 228, 228);
}

.column2 .info {
  color: white;
  display: flex;
  gap: 0.5rem;
  text-align: center;
  width: 70%;
  margin-top: 20px;
}

.column2 .info div {
  width: 30%;
  border: 1px solid rgb(78, 78, 78);
  border-radius: 20px;
  padding: 0.4rem;
  font-size: 0.7rem;
  min-width: 120px;
}

.column2 .info span {
  display: block;
  color: rgb(220, 222, 224);
  font-size: 0.45rem;
  margin-top: 5px;
}

/**********************
* Large desktop layout *
**********************/
@media only screen and (min-width: 1540px) {
  .Home {
    padding-bottom: 110px;
  }

  .button-container {
    margin-top: 30px;
  }

  .socialsContainer {
    margin-top: 30px;
  }

  .socials div:hover {
    transform: scale(2);
  }

  .socials div {
    width: 39px;
    height: 39px;
  }

  .socials div img {
    height: 38px;
    width: 38px;
  }
}

/**********************
* Tablet layout *
**********************/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .HomeContainer {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 150px;
    gap: 1.3rem;
  }

  .Home {
    height: max-content;
  }

  .column1,
  .column2 {
    width: 100%;
  }

  .column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .column1 .text {
    text-align: center;
  }

  .column1 .intro {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 0.7rem;
  }

  .socials:last-child {
    padding-right: 0rem;
  }

  .column2 {
    width: 100%;
    max-width: 580px;
    margin: auto;
  }

  .column2 .info {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }

  .column2 .info div {
    width: 32%;
    min-width: 0;
  }

  .butnHolder {
    gap: 1rem !important;
    align-items: flex-start;
    margin: auto;
    width: max-content;
  }
}

/**********************
* Mobile layout *
**********************/
@media only screen and (max-width: 768px) {
  .HomeContainer {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
    gap: 1.3rem;
  }

  .Home {
    height: max-content;
  }

  .column1,
  .column2 {
    width: 100%;
  }

  .column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .column1 .text {
    text-align: center;
  }

  .column1 .intro {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 0.7rem;
  }

  .socials:last-child {
    padding-right: 0rem;
  }

  .column2 {
    width: 150% !important;
    margin: auto;
    max-width: 100%;
  }

  .column2 .info {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }

  .column2 .info div {
    width: 32%;
    min-width: 0;
  }

  .butnHolder {
    gap: 1rem !important;
    align-items: flex-start;
    margin: auto;
    width: max-content;
  }
}
