/* About Section */
#Home {
  width: 100%;
  height: 100vh;
}
#Home .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* About Container */
#Home .Home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  gap: 8%;
}
.home-text,
.img {
  width: 50%;
}

/* Intro Section */
#Home .text {
  text-align: left;
}
#Home .text h6 {
  font-size: 22px;
  margin-left: 5px;
}
#Home .text h2 {
  font-size: 85px;
}

/* Socials Section */
#Home .socials-container {
  width: max-content;
  margin-left: 5px;
}
#Home .socials {
  display: inline-block;
  margin-top: 60px;
  width: max-content;
}
#Home .socials div:hover {
  transform: scale(2.5);
  box-shadow: 0px 0px 20px #a6bbcc;
  border-radius: 50%;
}
#Home .socials div {
  background-color: white;
  border-radius: 50%;
  padding: 0.5px 0.2px;
  width: 37px;
  height: 37px;
  margin-right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: floating 3s infinite ease-in-out;
}
#Home .socials div img {
  margin: 0;
  padding: 0;
  height: 36px;
  width: 36px;
}

/* Floating animation */
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* image section */
#Home .img img {
  width: 100%;
  max-width: 600px;
}

/**********************
* large desktop layout*
**********************/
@media only screen and (min-width: 1540px) {
  /* About Section */
  #Home {
    padding-bottom: 110px;
  }

  /* Button Section */
  .button-container {
    margin-top: 30px;
  }

  /* Socials Section */
  .socials-container {
    margin-top: 30px;
  }
  #Home .socials div:hover {
    transform: scale(2);
  }
  #Home .socials div {
    width: 39px;
    height: 39px;
  }
  #Home .socials div img {
    margin: 0;
    padding: 0;
    height: 38px;
    width: 38px;
  }
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px) {
  /* About Section */
  #Home {
    height: 100vh;
    max-height: 800px;
  }

  #Home .Home-container {
    display: block;
    align-items: center;
    width: 100%;
    height: max-content;
  }
  .home-text,
  .img {
    width: 100%;
  }

  /* Intro Section */
  #Home .text h6 {
    font-size: 20px;
    margin-top: 20px;
  }
  #Home .text h2 {
    font-size: 55px;
    margin-top: 1px;
  }
  #Home .text {
    display: block;
    width: 100%;
    margin: 0;
    height: max-content;
    text-align: center;
  }

  /* Socials Section */
  #Home .socials-container {
    margin: auto;
  }
  #Home .socials div {
    margin: 10px 35px;
  }
  #Home .socials div {
    height: 37px;
    width: 37px;
  }
  #Home .socials div img {
    height: 35px;
    width: 35px;
  }

  /* image section */
  #Home .img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  #Home .img img {
    width: 100%;
    max-width: 300px;
  }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px) {
  /* About Section */
  #Home {
    height: 100vh;
    max-height: 800px;
  }

  #Home .Home-container {
    display: block;
    align-items: center;
    width: 100%;
    height: max-content;
  }
  .home-text,
  .img {
    width: 100%;
  }

  /* Intro Section */
  #Home .text h6 {
    font-size: 18px;
    margin-top: 40px;
  }
  #Home .text h2 {
    font-size: 50px;
    margin-top: 1px;
  }

  /* Intro Section */
  #Home .text {
    display: block;
    width: 100%;
    height: max-content;
    text-align: center;
  }

  /* Button Section */
  #Home .button-container {
    align-items: center;
    justify-content: center;
  }
  #Home .btn1 span {
    height: 17px;
  }

  /* About Section */
  #Home .text h3 {
    width: 90%;
    font-size: 22px;
    max-height: 70px;
    text-align: left;
    left: 10;
  }
  #Home .text .p {
    width: 100%;
  }
  #Home .text p {
    font-size: 14px;
    padding-top: 10px;
    width: 100%;
    min-width: 0px;
  }

  /* Socials Section */
  #Home .socials-container {
    margin: auto;
  }
  #Home .socials div {
    margin: 10px 20px;
    height: 32px;
    width: 32px;
  }
  #Home .socials div img {
    height: 30px;
    width: 30px;
  }

  /* image section */
  #Home .img {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  #Home .img img {
    width: 100%;
    max-width: 200px;
  }
}
