/* About Section */
#Home {
  width: 100%;
  height: 100vh;
}
#Home .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: aliceblue;
}

/* Intro Section */
#Home .text {
  text-align: center;
}
#Home .text h6 {
  font-size: 22px;
}
#Home .text h6 .o {
  color: rgb(255, 175, 54);
}
#Home .text h2 {
  font-size: 45px;
  margin-top: 10px;
}
#Home .text h2 .o {
  color: rgb(255, 175, 54);
}

/* Wave Animation */
@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.wave {
  display: inline-block;
  font-size: 2rem;
  animation: wave 1.5s infinite ease-in-out;
  transform-origin: 70% 70%; /* Adjusts rotation pivot for a more natural wave */
}

/* Button Section */
#Home .button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}
#Home button {
  height: 35px;
}
#Home .button-container button {
  width: 120px;
  margin: 20px;
  border: none;
}
#Home .btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 5px;
  font-size: 17px;
  border-radius: 10px;
  background-color: rgb(255, 175, 54);
}
#Home .btn2 {
  font-size: 17px;
  background-color: transparent;
  border: none;
  display: inline-block;
}
#Home .btn2 a {
  color: white;
  text-decoration: underline;
}

/* Socials Section */
#Home .socials-container {
  width: max-content;
  margin: auto;
}
#Home .socials {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  width: max-content;
}
#Home .socials div {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
}
#Home .socials div:hover {
  transform: scale(2.5);
  box-shadow: 0px 0px 20px rgb(255, 175, 54);
  border-radius: 50%;
}
#Home .socials div {
  background-color: white;
  border-radius: 45%;
  width: 33px;
  height: 33px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

#Home .socials div {
  animation: floating 2s infinite ease-in-out;
}
#Home .socials div img {
  margin: 0;
  padding: 0;
  height: 36px;
  width: 36px;
}

#Home a {
  text-decoration: none;
}

/**********************
* large desktop layout*
**********************/
@media only screen and (min-width: 1540px) {
  /* About Section */
  #Home {
    padding-bottom: 110px;
  }

  /* Button Section */
  .button-container {
    margin-top: 30px;
  }

  /* Socials Section */
  .atc {
    margin-top: 60px;
  }
  .socials-container {
    margin-top: 30px;
  }
  #Home .socials div:hover {
    transform: scale(2);
  }
  #Home .socials div img {
    margin: 0;
    padding: 0;
    height: 38px;
    width: 38px;
  }
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px) {
  /* About Section */
  #Home {
    height: 100vh;
    max-height: 800px;
  }

  /* Intro Section */
  #Home .text h6 {
    font-size: 17px;
  }
  #Home .text h2 {
    font-size: 33px;
    margin-top: 1px;
  }
  #Home .text {
    display: block;
    width: 100%;
    margin: 0;
    height: max-content;
    text-align: center;
  }

  /* Button Section */
  #Home .button-container {
    align-items: center;
    justify-content: center;
  }
  #Home .btn1 span {
    height: 17px;
  }

  /* About Section */
  #Home .text h3 {
    width: 100%;
    font-size: 25px;
  }
  #Home .text p {
    width: 90%;
    max-width: 500px;
    margin: auto;
    font-size: 16px;
  }

  /* Socials Section */
  #Home .socials div {
    margin: 10px 35px;
  }
  #Home .socials {
    margin-left: 0;
  }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px) {
  /* About Section */
  #Home {
    height: 100vh;
    max-height: 800px;
  }

  /* Intro Section */
  #Home .text {
    display: block;
    width: 100%;
    height: max-content;
    text-align: center;
  }
  #Home .text h6 {
    font-size: 17px;
  }
  #Home .text h2 {
    font-size: 33px;
    margin-top: 1px;
  }

  /* Button Section */
  #Home .button-container {
    align-items: center;
    justify-content: center;
  }
  #Home .btn1 span {
    height: 17px;
  }

  /* About Section */
  .atc {
    height: max-content;
    width: 100%;
  }
  #Home .text h3 {
    width: 90%;
    font-size: 22px;
    max-height: 70px;
    text-align: left;
    left: 10;
  }
  #Home .text .p {
    width: 100%;
  }
  #Home .text p {
    font-size: 14px;
    padding-top: 10px;
    width: 100%;
    min-width: 0px;
  }

  /* Socials Section */
  #Home .socials div {
    margin: 10px 20px;
  }
}
