/* Navbar */
.navbar {
  width: 100%;
  height: 80px;
  z-index: 1000;
  margin: auto;
  display: flex;
  align-items: center;
  transition: top 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.3s ease;
  background-color: #1a1a1a69;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.navbar.hidden {
  top: -80px;
}

/* Nav Container */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Navbar content section */
.nav .c {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.nav .c a {
  font-size: 30px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.nav .c a span {
  font-weight: 700;
}
.nav .c button {
  align-self: flex-end;
  right: 0;
  background-color: transparent;
  padding: 5px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid rgb(146, 203, 253);
  transition: transform 0.3s ease, color 0.3s ease;
  color: white;
}
.nav .c button:hover {
  color: rgb(146, 203, 253);
  transform: rotate(10deg) scale(1.15);
}

/* Navbar Links */
.list {
  width: max-content;
}
.list ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.list ul li {
  margin: 0 0.4rem;
}

.list ul li a {
  font-size: 0.55rem;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.list ul li a:hover {
  transform: scale(1.15) !important;
  color: rgb(146, 203, 253) !important;
}

.list ul li .menuContainer {
  background-color: white;
  border-radius: 50%;
  display: none;
}
.list ul li img {
  width: 30px;
}

/* Hamburger menu */
.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background-color: white;
  z-index: 2000;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  transform: translateX(100%); /* Initially hidden off-screen */
  transition: transform 0.3s ease; /* Smooth transition for sliding */
}
.hamburger.open {
  transform: translateX(0);
  right: 0;
}
.hamburger .closeMenuImage {
  height: max-content;
  padding: 10px 0px;
  display: flex;
  justify-content: end;
  width: 35px;
  display: none;
}
.closeMenuImage img {
  width: 30px;
  height: 30px;
}

/* Hamburger Links */
.hamburger .list {
  margin-left: auto;
  width: max-content;
  padding: 10px;
  width: 100%;
}
.hamburger .list ul {
  list-style: none;
  display: block;
}
.hamburger .list ul li {
  margin: 30px 10px;
}
.hamburger .list ul li a {
  color: black;
  text-decoration: none;
  font-size: 30px;
}
.hamburger hr {
  width: 90%;
  margin-left: 8px;
}

/* Hamburger Social Links */
.hamburger .socials {
  width: max-content;
  margin: auto;
}
.hamburger .socials img {
  width: 35px;
  margin: 10px 35px;
}

/* Hamburger Button */
.hamburger .cv {
  width: max-content;
  margin: auto;
}
.hamburger .cv button {
  color: black;
  background-color: rgb(146, 203, 253);
  text-decoration: none;
  font-size: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  margin-top: 1.5rem !important;
  display: flex;
  align-items: center;
  width: max-content;
}
.hamburger .cv button img {
  height: 0.7rem;
  margin-left: 0.5rem;
}

/**********************
**** Desktop layout****
**********************/
@media only screen and (min-width: 960px) {
  /* Hamburger Section */
  .navbar .hamburger {
    display: none;
  }
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px) {
  /* Navbar */
  .navbar {
    height: 60px;
  }

  /* Navbar content section */
  .nav .c {
    width: max-content;
  }
  .nav .c a {
    font-size: 25px;
  }
  .nav .c:last-child {
    display: none;
  }

  /* Navbar Links */
  .a {
    display: none;
  }
  .navbar .list ul li .menuContainer {
    display: flex;
    padding: 5px;
  }
  .navbar .list ul li .menuContainer img {
    width: 30px;
  }

  /* Hamburger Links */
  .hamburger .closeMenuImage {
    display: flex;
    justify-content: flex-end;
    width: 90%;
  }
  .hamburger .closeMenuImage img {
    width: 35px;
  }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px) {
  /* Navbar */
  .navbar {
    height: 50px;
  }

  /* Navbar content section */
  .nav .c {
    width: max-content;
  }
  .nav .c a {
    font-size: 21px;
  }
  .nav .c a span {
    font-weight: 700;
  }
  .nav .c:last-child {
    display: none;
  }

  /* Navbar Links */
  .a {
    display: none;
  }
  .navbar .list ul li .menuContainer {
    display: flex;
    right: 0;
    align-self: flex-end;
  }
  .navbar .list ul li .menuContainer img {
    width: 28px;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 3px;
  }
  .hamburger .list ul li a {
    font-size: 21px;
  }
  .hamburger .socials a img {
    width: 31px;
  }

  /* Hamburger Links */
  .hamburger .closeMenuImage {
    display: flex;
    justify-content: flex-end;
    width: 90%;
  }
  .hamburger .closeMenuImage img {
    width: 28px;
  }
}
