/* Navbar */
.navbar {
  width: 430px;
  height: 30px;
  z-index: 1000;
  border-radius: 20px;
  position: fixed;
  margin: auto;
  top: 20px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-50%);
}

/* Navbar Background */
.navbar.light {
  background-color: rgba(201, 201, 201, 0.637);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: backdrop-filter 0.3s ease-in-out;
}
.navbar.light .list ul li a {
  font-size: 17px;
  color: black;
  text-decoration: none;
}
.navbar.light .link-container:hover {
  background-color: rgb(185, 185, 185);
}
.navbar.dark {
  background-color: rgb(32, 32, 32);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: backdrop-filter 0.3s ease-in-out;
}
.navbar.dark .list ul li a {
  font-size: 17px;
  color: white;
  text-decoration: none;
}
.navbar.dark .link-container:hover {
  background-color: rgb(96, 100, 100);
}

/* Navbar Links */
.navbar .list {
  width: max-content;
}
.navbar .list ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar .list ul li a {
  font-size: 17px;
  color: black;
  text-decoration: none;
}
.navbar .list ul li .menu-container {
  background-color: white;
  border-radius: 50%;
  display: none;
}
.navbar .list ul li img {
  width: 30px;
}
.link-container {
  padding: 4px 10px;
  border-radius: 10px;
}
.navbar .list .link-container:hover {
  font-size: 19px;
}
.navbar .list .link-container:hover ~ .navbar {
  padding: 0px; /* Change navbar padding on hover */
}

/* Hamburger menu */
.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background-color: white;
  z-index: 2000;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);

  /* Slide effect */
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}
.hamburger.open {
  transform: translateX(0);
}
.hamburger .close-menu-image {
  height: max-content;
  padding: 10px 20px;
  display: flex;
  justify-content: end;
  width: 35px;
  display: none;
}
* Close button animation */ .close-menu-image img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

/* Hamburger Links */
.hamburger .list {
  margin-left: auto;
  width: max-content;
  padding: 10px;
  width: 100%;
}
.hamburger .list ul {
  list-style: none;
}
.hamburger .list ul li {
  margin: 30px 10px;
}
.hamburger .list ul li a {
  color: black;
  text-decoration: none;
  font-size: 30px;
}
.hamburger hr {
  width: 90%;
  margin-left: 8px;
}

/* Hamburger Social Links */
.hamburger .socials {
  width: max-content;
  margin: auto;
}
.hamburger .socials img {
  width: 35px;
  margin: 10px 35px;
}

/* Hamburger Button */
.hamburger .cv {
  width: max-content;
  margin: auto;
}
.hamburger .cv button {
  color: black;
  font-size: 16px;
  background-color: rgb(255, 175, 54);
  height: 40px;
  width: 150px;
  border-radius: 8px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.hamburger .cv button span {
  height: 17px;
}

/**********************
**** Desktop layout****
**********************/
@media only screen and (min-width: 960px) {
  .navbar {
    padding: 10px;
  }
  .navbar .hamburger {
    display: none;
  }
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px) {
  .navbar {
    height: max-content;
    width: max-content;
    padding: 0 3px 0 2px;
    display: flex;
  }

  /* Navbar Links */
  .a {
    display: none;
  }
  .navbar .list ul li .menu-container {
    display: flex;
    padding: 5px;
  }
  .navbar .list ul li .menu-container img {
    width: 30px;
  }

  /* Hamburger Links */
  .hamburger .close-menu-image {
    display: flex;
    justify-content: flex-end;
    width: 90%;
  }
  .hamburger .close-menu-image img {
    width: 35px;
  }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px) {
  .navbar {
    height: max-content;
    width: max-content;
    padding: 2px 3px 2px 4px;
    display: flex;
  }

  /* Navbar Links */
  .a {
    display: none;
  }
  .navbar .list ul li .menu-container {
    display: flex;
  }
  .navbar .list ul li .menu-container img {
    width: 25px;
  }
  .hamburger .list ul li a {
    font-size: 25px;
  }

  /* Hamburger Links */
  .hamburger .close-menu-image {
    display: flex;
    justify-content: flex-end;
    width: 90%;
  }
  .hamburger .close-menu-image img {
    width: 30px;
  }
}
