/* Navbar */
.navbar {
  width: 100%;
  height: 80px;
  z-index: 1000;
  margin: auto;
  display: flex;
  align-items: center;
  transition: top 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.3s ease;
  background-color: #1a1a1a69;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.navbar.hidden {
  top: -80px;
}

/* Nav Container */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Navbar content section */
.nav .c {
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.nav .c a {
  font-size: 30px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
.nav .c a:hover {
  transform: scale(0.9);
}
.nav .c a span {
  font-weight: 700;
}
.nav .c button {
  align-self: flex-end;
  right: 0;
  background-color: transparent;
  padding: 5px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid white;
  transition: transform 0.3s ease, color 0.3s ease;
  color: white;
}
.nav .c button:hover {
  color: #a6bbcc;
  transform: rotate(10deg) scale(1.15);
}

/* Navbar Links */
.navbar .list {
  width: max-content;
}
.navbar .list ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.navbar .list ul li a {
  font-size: 20px;
  text-decoration: none;
}
.navbar .list ul li .menu-container {
  background-color: white;
  border-radius: 50%;
  display: none;
}
.navbar .list ul li img {
  width: 30px;
}
.link-container {
  padding: 4px 10px;
  border-radius: 10px;
  margin: 0 10px;
}
.navbar .list .link-container:hover {
  transform: scale(1.15);
  color: #a6bbcc;
}

/* Hamburger menu */
.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background-color: white;
  z-index: 2000;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  transform: translateX(100%); /* Initially hidden off-screen */
  transition: transform 0.3s ease; /* Smooth transition for sliding */
}
.hamburger.open {
  transform: translateX(0);
  right: 0;
}
.hamburger .close-menu-image {
  height: max-content;
  padding: 10px 20px;
  display: flex;
  justify-content: end;
  width: 35px;
  display: none;
}
* Close button animation */ .close-menu-image img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

/* Hamburger Links */
.hamburger .list {
  margin-left: auto;
  width: max-content;
  padding: 10px;
  width: 100%;
}
.hamburger .list ul {
  list-style: none;
}
.hamburger .list ul li {
  margin: 30px 10px;
}
.hamburger .list ul li a {
  color: black;
  text-decoration: none;
  font-size: 30px;
}
.hamburger hr {
  width: 90%;
  margin-left: 8px;
}

/* Hamburger Social Links */
.hamburger .socials {
  width: max-content;
  margin: auto;
}
.hamburger .socials img {
  width: 35px;
  margin: 10px 35px;
}

/* Hamburger Button */
.hamburger .cv {
  width: max-content;
  margin: auto;
}
.hamburger .cv button {
  color: black;
  font-size: 16px;
  background-color: #a6bbcc;
  height: 40px;
  width: 150px;
  border-radius: 8px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.hamburger .cv button span {
  height: 17px;
}

/**********************
**** Desktop layout****
**********************/
@media only screen and (min-width: 960px) {
  /* Hamburger Section */
  .navbar .hamburger {
    display: none;
  }
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px) {
  /* Navbar */
  .navbar {
    height: 60px;
  }

  /* Navbar content section */
  .nav .c {
    width: max-content;
  }
  .nav .c a {
    font-size: 25px;
  }
  .nav .c:last-child {
    display: none;
  }

  /* Navbar Links */
  .a {
    display: none;
  }
  .navbar .list ul li .menu-container {
    display: flex;
    padding: 5px;
  }
  .navbar .list ul li .menu-container img {
    width: 30px;
  }

  /* Hamburger Links */
  .hamburger .close-menu-image {
    display: flex;
    justify-content: flex-end;
    width: 90%;
  }
  .hamburger .close-menu-image img {
    width: 35px;
  }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px) {
  /* Navbar */
  .navbar {
    height: 50px;
  }

  /* Navbar content section */
  .nav .c {
    width: max-content;
  }
  .nav .c a {
    font-size: 21px;
  }
  .nav .c a span {
    font-weight: 700;
  }
  .nav .c:last-child {
    display: none;
  }

  /* Navbar Links */
  .a {
    display: none;
  }
  .navbar .list ul li .menu-container {
    display: flex;
    right: 0;
    align-self: flex-end;
  }
  .navbar .list ul li .menu-container img {
    width: 28px;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 3px;
  }
  .hamburger .list ul li a {
    font-size: 21px;
  }
  .hamburger .socials a img {
    width: 31px;
  }

  /* Hamburger Links */
  .hamburger .close-menu-image {
    display: flex;
    justify-content: flex-end;
    width: 90%;
  }
  .hamburger .close-menu-image img {
    width: 28px;
  }
}
