.buttonCont {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  z-index: 1000;
}
.buttonCont button {
  padding: 0.3rem 0.44rem;
  border-radius: 0px;
  background-color: rgb(146, 203, 253);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.buttonCont button:hover {
  background-color: rgb(112, 188, 255);
}

.buttonCont button img {
  height: 0.6rem;
}

.buttonCont button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}

.btnCont {
  height: 1.2rem;
}

@media only screen and (max-width: 960px) {
  .buttonCont {
    display: none;
  }
}
