.footer {
  width: 100%;
  border-top: 1px solid rgba(208, 233, 255, 0.342);
  padding: 1rem 0;
}

.footer .content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.footer .content div {
  width: 30%;
}

.footer p {
  text-decoration: none !important;
  font-size: 0.5rem;
  color: rgb(219, 219, 219);
}

.socials {
  display: flex;
  gap: 0.8rem;
}

.socials svg {
  width: 1.1rem;
  height: 1.1rem;
  transition: transform 0.3s ease;
}

.socials svg:hover {
  rotate: 10deg;
  color: rgb(112, 188, 255);
}

.footer .c {
  width: 180px;
  display: flex;
  flex-direction: column;
}
.footer .c a {
  font-size: 26px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  margin-bottom: 0.4rem;
}

.footer .c a span {
  font-weight: 700;
}

.footer h6 {
  font-weight: 100;
  color: #cecece;
  margin-bottom: 0.4rem;
}

/* Navbar Links */
.list {
  gap: 0.8rem;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.list li a {
  font-size: 0.47rem;
  text-decoration: none;
  transition: transform 0.3s ease;
  font-weight: 100;
}

.list li a:hover {
  transform: scale(1.15) !important;
  color: rgb(146, 203, 253) !important;
}

.copyWrightCont {
  padding: 1rem 0;
  border-top: 1px solid rgb(37, 37, 37);
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .footer .content {
    flex-direction: column;
    gap: 1.3rem;
  }

  .footer .content div {
    width: 100%;
  }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 768px) {
  .footer {
    display: block;
  }

  .socials {
    margin: 0.6rem 0;
  }

  .footer .content {
    flex-direction: column;
    gap: 1.3rem;
  }

  .footer .content div {
    width: 100%;
  }
}
