.Footer {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}
.Footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Footer a {
  text-decoration: none;
  font-size: 28px;
}
.Footer a:hover {
  transform: scale(0.9);
}
.Footer a .b {
  font-weight: 700;
}
.Footer .socials img {
  width: 40px;
  margin: 20px;
}
.Footer .socials img:hover {
  box-shadow: 0px 0px 20px #a6bbcc;
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px) {
  .Footer a {
    text-decoration: none;
    font-size: 24px;
  }
  .Footer .socials img {
    width: 30px;
    margin: 15px;
  }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px) {
  .Footer a {
    text-decoration: none;
    font-size: 20px;
  }
  .Footer .socials img {
    width: 22px;
    margin: 10px;
  }
}
