/* Certificates Section */
.w {
  margin-top: 20px;
}

/* Certificates Container */
.certificates {
  height: max-content;
  background-color: white;
  text-align: center;
  width: max-content;
  margin-bottom: 50px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  justify-content: center; /* Center the badges */
  flex-wrap: wrap; /* Allow wrapping */
  border: 1.5px solid #a6bbcc;
  margin-bottom: 70px;
}

/* Heading Section */
.w .heading-2 {
  margin: auto;
  text-align: center;
}
.w .heading-2 h1 {
  font-size: 40px;
  width: 100%;
}

/* Badge Image Section */
.certificates .badge-container img {
  width: 7%;
  max-width: 100px;
  margin: 4px 30px;
  animation: none; /* Default state, no animation */
}
.cert-container {
  margin-top: 60px;
}

/* Rotating Animation Section */
.certificates .badge-container img.animate {
  animation: rotateIn 1s ease-in-out;
}

@keyframes rotateIn {
  from {
    opacity: 0;
    transform: rotate(-180deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

/**********************
* large desktop layout*
**********************/
@media only screen and (min-width: 1540px) {
  /* Certificates Container */
  .certificates {
    width: 60%;
    max-width: 700px;
    margin: auto;
  }

  /* Badge Image Section */
  .certificates .badge-container img {
    width: 8%;
    max-width: 50px;
    margin: 4px 23px;
  }
  .cert-container {
    margin-bottom: 100px;
  }
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px) {
  /* Certificates Container */
  .certificates {
    width: 60%;
    margin: auto;
    margin-bottom: 55px;
  }

  /* Badge Image Section */
  .certificates .badge-container img {
    width: 10%;
    min-width: 45px;
    max-width: 50px;
    margin: 3px 17px;
  }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px) {
  /* Certificates Container */
  .certificates {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
  }

  /* Badge Image Section */
  .certificates .badge-container img {
    width: 12%;
    margin: 3px 15px;
    max-width: 37px;
  }
}
