.certificates {
  height: max-content;
  background-color: white;
  text-align: center;
  width: 700px;
  margin-bottom: 50px;
  margin: auto;
  border-radius: 20px;
  display: flex;
  justify-content: center; /* Center the badges */
  flex-wrap: wrap; /* Allow wrapping */
  border: 1.5px solid rgb(255, 175, 54);
  margin-bottom: 80px;
}

.certificates .badge-container img {
  width: 7%;
  margin: 4px 30px;
  animation: none; /* Default state, no animation */
}

.certificates .badge-container img.animate {
  animation: rotateIn 1s ease-in-out;
}

@keyframes rotateIn {
  from {
    opacity: 0;
    transform: rotate(-180deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

/**********************
* large desktop layout*
**********************/
@media only screen and (min-width: 1540px) {
  .cert-container {
    margin-bottom: 100px;
  }
  .certificates {
    width: 60%;
    max-width: 700px;

    margin: auto;
  }
  .certificates .badge-container img {
    width: 8%;
    max-width: 60px;
    margin: 4px 23px;
  }
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px) {
  .certificates {
    width: 60%;
    margin: auto;
    margin-bottom: 55px;
  }
  .certificates .badge-container img {
    width: 10%;
    margin: 3px 17px;
  }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px) {
  .certificates {
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
  }

  .certificates .badge-container img {
    width: 12%;
    margin: 3px 15px;
  }
}
