/* Experience Section Styles */
#Experience {
  padding: 40px 0 60px 0;
  background-color: white;
  height: max-content;
}
.xp-container {
  width: 100%;
}

/* Heading Section */
.heading {
  width: 80%;
}
.heading h1 {
  font-size: 45px;
  display: block;
  width: 100%;
  color: black;
}
.heading p {
  padding-top: 15px;
  font-size: 18px;
  display: block;
  width: 100%;
  margin: auto;
  color: rgb(114, 114, 114);
}
.xp-container .heading {
  text-align: left;
  padding: 20px;
}
.skills .heading {
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
}

/* experince container Section */
.xp-content {
  display: block;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  border-radius: 20px;
}
.image-cont,
.timeline-wrapper {
  width: 50%;
}

.slide-in {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Timeline Sliding animation */
.slide-out {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Timeline Wrapper  */
.timeline-wrapper {
  height: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}
.timeline-wrapper .timeline {
  padding: 20px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  min-height: 510px;
  width: 90%;
}
.timeline-wrapper hr {
  margin-top: 20px;
  border: 1px solid rgb(230, 230, 230);
}

/* Icon image styling */
.work-icon {
  width: 40px;
  height: 40px;
}

.work-icon-2 {
  width: 50px;
  height: 50px;
}

/* Timeline View Section */
.view {
  margin: 30px 0;
  min-height: 200px;
}

/* Skills Section */
.skills {
  border-radius: 10px;
  color: white;
  height: max-content;
  display: block;
  justify-content: space-between;
  margin-top: 30px;
  width: 80%;
  margin: auto;
}

/* Skill container Section */
.skill {
  border-radius: 10px;
  height: max-content;
  display: inline-block;
  margin: 11px;
  width: 300px;
  background-color: rgb(238, 241, 241);
  text-align: left;
}
.skill:hover {
  background-color: rgb(230, 229, 229);
}
.skill .skill-text {
  width: 60%;
  height: 100%;
  display: inline-block;
  color: black;
}
.skills .img {
  width: max-content;
  color: black;
  display: inline-block;
  margin: 10px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: relative;
}
.skills span .text {
  width: max-content;
  position: relative;
  margin: auto;
}
.skills img {
  width: 40px;
  padding-right: 8px;
  transition: transform 0.5s ease-in-out;
  display: inline-block;
  opacity: 0.8;
}
.skills .text {
  display: block;
  padding: 3px;
  color: rgba(66, 66, 66, 0.849);
}
.skills .text:first-child {
  font-size: 18px;
  color: black;
}

.dot-wrapper {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  gap: 5px;
  color: black;
  margin-top: 8px;
}

/* Selected chip: Apply orange border */
.selected-chip {
  border: 1px solid #ff5722 !important; /* Orange border */
}

/* Unselected chip: Normal border */
.unselected-chip {
  border: none; /* Light gray border */
  background-color: transparent;
}

/* Unselected chip (using outlined variant) */
.unselected-chip.MuiChip-outlined {
  background-color: transparent !important; /* Transparent background */
  color: black; /* Black text color */
  border: 2px solid transparent; /* Remove border by setting it transparent */
}

/* ===========================
     Responsive Design 
     =========================== */
@media only screen and (min-width: 1540px) {
  .xp-container {
    padding-bottom: 80px;
  }
  .heading h1 {
    padding-top: 40px;
  }
  .xp-content {
    min-height: 420px;
  }
  .skills img {
    width: 35px;
  }
  .skill {
    margin: 11px;
    width: 300px;
  }
  .skills .skill-text {
    margin-top: 5px;
  }
  .work-icon {
    width: 44px;
    height: 44px;
  }
  .work-icon-2 {
    width: 54px;
    height: 54px;
  }
}

@media only screen and (max-width: 1300px) {
  .heading h1 {
    font-size: 30px;
  }
  .xp-container .heading {
    width: 90%;
  }
  .xp-container {
    height: max-content;
    display: block;
    width: 100%;
  }
  .image-cont,
  .timeline-wrapper {
    width: 80%;
    margin: auto;
  }
  .timeline-wrapper .timeline {
    height: max-content;
    min-height: 0px;
    padding: 10px;
  }
  .xp-content {
    flex-direction: column;
    display: block;
    width: 100%;
  }
  .experince,
  .skills {
    width: 90%;
    height: max-content;
    display: block;
    margin: auto;
  }
  .xp-container {
    display: block;
    height: max-content;
  }
  .skills {
    max-width: 650px;
  }
  .skills span {
    font-size: 16px;
  }
  .skills img {
    width: 35px;
  }
  .heading p {
    font-size: 18px;
  }
  .skill {
    margin: 11px;
    width: 300px;
  }
  .skills .skill-text {
    margin-top: 5px;
  }
  .timeline-wrapper {
    min-height: 400px;
    width: 80%;
    padding: 25px 0;
  }
  .work-icon {
    width: 35px;
    height: 35px;
  }
  .work-icon-2 {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 576px) {
  .heading h1 {
    font-size: 28px;
  }
  .xp-container {
    height: max-content;
    display: block;
    width: 100%;
  }
  .image-cont,
  .timeline-wrapper {
    width: 100%;
  }
  .timeline-wrapper .timeline {
    height: max-content;
    min-height: 0px;
    margin: auto;
    padding: 1px;
  }
  .xp-content {
    flex-direction: column;
    display: block;
    width: 100%;
  }
  .experince,
  .skills {
    width: 90%;
    padding: 10px;
    height: max-content;
    display: block;
    margin: auto;
  }
  .skills span {
    font-size: 14px;
    width: 50%;
  }
  .skills span .text {
    width: max-content;
    font-size: 12px;
    margin: auto;
  }
  .skills img {
    width: 30px;
    margin-bottom: 5px;
  }
  .heading p {
    font-size: 15px;
    width: 100%;
  }
  .skill {
    margin: 10px;
    width: 260px;
    height: 60px;
  }
  .skills .skill-text {
    margin-top: 6px;
  }
  .skills .skill-text span {
    width: 100%;
  }
  .timeline-wrapper {
    min-height: 200px;
    margin: 25px 0;
    width: 100%;
  }
  .work-icon {
    width: 30px;
    height: 30px;
  }
  .work-icon-2 {
    width: 35px;
    height: 35px;
  }
}
