/* Contact Me */
#ContactMe {
  height: max-content;
  padding: 80px 0 80px 0;
  margin: auto;
}

/* Headig Section */
#ContactMe .heading h1 {
  width: 500px;
}
#ContactMe .heading p {
  text-align: center;
}

/* Form Section */
#ContactMe .form-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}
#ContactMe .form {
  width: 60%;
}

/* Form Inputs */
.form input {
  width: 100%;
  height: 32px;
  padding: 0 10px;
  margin-top: 40px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #a6bbcc;
  outline: none;
  background: transparent;
  color: white;
}
.form input::placeholder {
  color: rgb(202, 202, 202);
}
.form textarea::placeholder {
  color: rgb(202, 202, 202);
}
.form textarea {
  display: block;
  margin-top: 40px;
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #a6bbcc;
  outline: none;
  background: transparent;
  color: white;
}

/* Form Button */
#ContactMe form button {
  margin: 50px 10px;
  width: 140px;
  height: 40px;
  background-color: #a6bbcc;
  border-radius: 10px;
  font-size: 18px;
}

/**********************
* large desktop layout*
**********************/
@media only screen and (min-width: 1540px) {
  /* Form Section */
  .form {
    margin-top: 40px;
  }
  #ContactMe {
    margin-bottom: 30px;
  }

  /* Form Inputs */
  .form input {
    margin: 25px 0;
  }
  .form textarea {
    margin: 15px 0;
  }
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px) {
  /* Contact Me Section */
  #ContactMe {
    width: 100%;
    height: max-content;
  }
  #ContactMe .form-container {
    display: block;
  }

  /* Heading Section */
  #ContactMe .heading h1 {
    width: 540px;
  }

  /* Form Section */
  .form {
    width: 100%;
  }
  .form {
    width: 70%;
    min-width: 500px;
    margin: auto;
  }

  /* Form Inputs */
  .form input {
    margin: auto;
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    height: 20px;
    font-size: 16px;
  }
  .form textarea {
    width: 90%;
    height: 150px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
  }

  /* Form Buttons */
  #ContactMe form button {
    width: 120px;
    height: 35px;
    font-size: 14px;
  }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px) {
  /* Contact Me */
  #ContactMe {
    width: 100%;
    height: max-content;
    padding-bottom: 30px;
  }
  #ContactMe .form-container {
    display: block;
  }

  /* Form Section */
  #ContactMe .form {
    width: 100%;
  }

  /* Form Inputs */
  .form input {
    margin: auto;
    width: 90%;
    margin: 20px 0;
    height: 20px;
    font-size: 14px;
  }
  .form textarea {
    width: 90%;
    height: 150px;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
  }

  /* Form Button */
  #ContactMe form button {
    width: 120px;
    height: 35px;
    font-size: 14px;
  }
}
