/* Contact Me */
.contactMeCont {
  height: max-content;
  margin: 1rem 0;
}

/* Headig Section */
.heading2 {
  text-align: center;
}

.heading2 h1 {
  margin-top: 40px;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.heading2 p {
  margin: auto;
  color: rgb(211, 211, 211);
  font-size: 0.55rem;
  max-width: 800px;
}

/* Form Section */
.formContainer {
  display: flex;
  margin-top: 1.5rem !important;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: auto;
  gap: 0.5rem;
  justify-content: space-between;
  min-width: 800px;
}

.form {
  width: 63%;
}

.form form {
  margin: auto;
  width: 100%;
}

.form form .inputCont {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.form form .inputCont div {
  width: 100%;
  height: max-content !important;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.form label {
  color: aliceblue;
  font-size: 0.45rem;
  margin-bottom: 0.3rem;
}

/* Form Inputs */
.form input {
  width: 100%;
  padding: 0.3rem 0.5rem;
  font-size: 0.45rem !important;
  border-radius: 10px;
  border: 1px solid #a6bbcc;
  outline: none;
  background: transparent;
  color: white;
}
.form input::placeholder {
  color: rgb(202, 202, 202);
}
.form textarea::placeholder {
  color: rgb(202, 202, 202);
}
.form textarea {
  display: block;
  padding: 0.3rem 0.5rem;
  font-size: 0.45rem;
  width: 100%;
  height: 4rem;
  border-radius: 10px;
  border: 1px solid #a6bbcc;
  outline: none;
  background: transparent;
  color: white;
}
.errorMessage {
  color: rgb(241, 78, 78);
  font-size: 0.4rem;
  margin-top: 1px;
  height: 0.5rem;
}

/* Form Button */
.form button {
  background-color: rgb(146, 203, 253) !important;
  font-size: 0.5rem !important;
  padding: 0.2rem 0.9rem !important;
  border-radius: 5px !important;
  display: flex;
  align-items: center;
  width: max-content;
  margin-top: 1rem;
}

.form button:hover {
  background-color: rgb(112, 188, 255) !important;
}

.form button img {
  height: 0.6rem;
  margin-left: 0.2rem;
}

/* --- Card Styles --- */
.contactInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
  gap: 0.7rem;
  min-width: 270px;
}

.contactInfo a {
  text-decoration: none;
  width: 100%;
}

.skill {
  border-radius: 10px;
  background-color: rgb(61, 61, 61);
  text-align: left;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
  padding: 4px 10px;
}

.skill:hover {
  background-color: rgb(85, 85, 85);
}

.skillText {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 0.43rem;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.imgWrapper svg {
  width: 1.1rem;
  transition: transform 0.5s ease-in-out;
  opacity: 0.8;
}

.text {
  display: block;
  padding: 3px 0 0 3px;
  color: rgb(255, 255, 255);
}
.text2 {
  display: block;
  padding: 0px 3px;
  font-size: 0.4rem;
  color: rgb(219, 219, 219);
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Form Section */
  .formContainer {
    flex-direction: column;
  }

  .contactInfo,
  .form {
    width: 100%;
  }

  /* Form Section */
  .formContainer {
    gap: 1rem;
    min-width: 0;
  }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 768px) {
  /* Contact Me */
  .formContainer {
    flex-direction: column;
  }

  .contactInfo,
  .form {
    width: 100%;
  }

  .contactInfo {
    margin-bottom: 1rem;
  }

  .contactInfo a {
    width: 100%;
  }

  .formContainer {
    width: 100%;
    min-width: 0;
  }

  .form form .inputCont {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}
