* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  overflow-x: hidden;
  font-size: 35px;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a {
  color: white;
}

section {
  padding: 1.5rem 0;
}

.app {
  background-color: #111111;
}

.container {
  width: 90%;
  max-width: 1400px;
  height: max-content;
  margin: auto;
}

.e {
  color: #4984b4;
}

.heading {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 30px;
}
.heading h1 {
  font-size: 65px;
  width: max-content;
}
.heading hr {
  width: 100%;
  height: 1px;
  border: 2px solid #a6bbcc;
}

/**********************
**** Large Desktop ****
**********************/
@media only screen and (min-width: 1540px) {
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .heading {
    gap: 20px;
    margin-bottom: 30px;
  }
  .heading h1 {
    font-size: 53px;
  }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 768px) {
  html,
  body {
    overflow-x: hidden;
    font-size: 30px;
  }

  .heading {
    gap: 20px;
    display: block;
    margin-bottom: 30px;
  }
  .heading h1 {
    font-size: 33px;
  }
}
