* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a {
  color: white;
}

.container {
  width: 95%;
  max-width: 1400px;
  height: max-content;
  margin: auto;
}

.e {
  color: rgb(255, 153, 0);
}
.n {
  color: #ff5722;
}
.heading {
  width: 80%;
}
.heading h1 {
  font-size: 45px;
  display: block;
}
.heading p {
  padding-top: 15px;
  font-size: 18px;
  display: block;
  width: 100%;
}

@media only screen and (min-width: 1540px) {
  .heading {
    padding-top: 40px;
  }
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px) {
  .sub-heading {
    width: 100%;
  }
  .heading h1 {
    font-size: 30px;
  }
}

/* Mobile View */
@media only screen and (max-width: 576px) {
  .sub-heading {
    font-size: 15px;
    width: 100%;
  }
  .heading h1 {
    font-size: 28px;
  }
}
